python manage.py runserver{% extends 'partials/base.html' %} 
{% block title %}Product Update Page{% endblock%}
{% load crispy_forms_tags %}

{%block content%}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Edit Item</h3>
                <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <a class ="btn btn-secondary" href="{% url 'dashboard-product' %}">Cancel</a>
                        <input class = "btn btn-info" type="submit" value="Update">
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}