{% extends 'partials/base.html' %} {% block title %} Login Page {% endblock%}
{%load crispy_forms_tags %} {% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      {% for message in messages %}
      {% if message %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endif %}
      {% endfor %}
      <div class="border bg-white p-3">
        <h3>Login Page</h3>
        <hr />
        <form method="POST">
          {% csrf_token %} {{ form|crispy }}
          <input class="btn btn-success" type="submit" value="Login" />
          <a class="mx-4" href="{% url 'password_reset' %}">Forget Password?</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock%}
